:root {
    --primary-color: rgb(78 46 104);
}

.header_search .header_cart {
   position: relative;
   top: 2px;
}
   

.header_search .header_cart a{
    text-decoration: none;
    color: black;
    position: relative;
    margin-left: 40px;
}

.header_search .header_cart a p {
    position: absolute;
    top: -33px;
    background-color: orangered;
    box-shadow: 2px 2px 2px gray;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    right: -10px;
}

.header_search .header_cart a i {
    
   font-size: 35px;
   color: var(--primary-color);
}

.header_search .search_box i {
    right: -12px;
  
}





