

.header_search {
    background-color: transparent;
}

.product {
    background-color: transparent;
}

.slide {
    background-color: transparent;
    margin: 0 -12px;
}

.wrap {
    background-color: transparent;
}

